nav{
    background-color: green;
    text-align: center;
    color: white;
    border-radius: 20px;
}
a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Lucida Sans Unicode', Geneva, Arial, Helvetica, sans-serif;
  }
  header{
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  section{
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  button{
      color: white;
      padding: 14px 25px;
      background-color: green;
      border-radius: 10px;
      border-color: white;
  }